<a href="https://colab.research.google.com/github/YeshuaMahe/school-works/blob/main/Copia_de_09_funciones_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def adicion():
  a = 2
  b = 3
  total = a + b

In [ ]:
adicion()

In [ ]:
def function_name():
  code
  code

**RETORNAR VALORES DE UNA FUNCION**

In [ ]:
def adicion():
a = 2
b = 3
total = a + b
total = a + b
return total

In [ ]:
print(adicion())

**FUNCIONES CON PARAMETROS**

In [ ]:
def adicion (a,b):
  total = a+b
  return total

In [ ]:
print(adicion(1,2))

**ARGUMENTOS DE TIPO KEY:VALUE**

In [ ]:
def person_info(name, lastname, career):
  print(f'hola {name} {lastname}, Gracias por escoger la carrera de {career}')

In [ ]:
print(person_info(name='yeshua', lastname='mahe', career='ing en sistemas'))

**TIPOS DE VALORES A RETORNAR**

In [ ]:
def name(name):
  return name 

  name('yeshua')

In [ ]:
#Booleanos
def is_pair(n):
  if n%2 == 0:
    return True
    return False

  print(is_pair(8))
  print(is_pair(5))

In [ ]:
#Listas
def find_pair(n):
  pairs = []
  for i in range(n+1):
    if i%2 == 0:
      pairs.append(i)
    return pairs

   print(find_pair(10))